.header {
  font-family: Arial;
  color: gray;
}
.header .h1{
  font-family: bebas neue;
  font-size: 60px;
  color: blue;
}

.card {
  border: 1px solid hsla(0, 3.10%, 87.50%, 0.41); 
  border-radius: 10px;
  max-width: 250px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0.00%, 0.00%, 0.13);
  display: inline-block;
}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-h2{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.card .card-p{
  font-family: Arail, sans-serif;
  font-weight: ;
  color: hsl(0, 0%, 30%);
}

.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}