.hero{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
}

.hero .img {
    max-width: 300px;
    max-height: auto;
    padding-top: 150px;
}

.hero .p{
    font-family: sans-serif;
    max-width: 500px;
    font-size: 20px;
;}